

      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
                내일의 반찬
              </a>
            </li>
          </ul>
          <div class="copyright">
            &copy; <a target="_blank" rel="sponsored noopener noreferrer" 
                      href="https://www.mjc.ac.kr/mjcIntro.do">명지전문대학교 정보통신공학과 전공심화과정 졸업작품</a> 
            - coded by <a target="_blank" rel="noopener noreferrer" href="mailto:tnsals9603@naver.com">권순민, 김원표</a>
          </div>
        </div>
      </footer>
      
