

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a
             class="simple-text logo-mini">
            ◆
          </a>
          <a class="simple-text logo-normal">
            카테고리
          </a>
        </div>

        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="{% if 'vegetable' in segment %} active {% endif %}">
            <a href="/vegetable.html">
              <i class="tim-icons icon-pin"></i>
              <p>채소류</p>
            </a>
          </li>
          <li class="{% if 'fruit' in segment %} active {% endif %}">
            <a href="/fruit.html">
              <i class="tim-icons icon-pin"></i>
              <p>과일류</p>
            </a>
          </li>
          <li class="{% if 'egg' in segment %} active {% endif %}">
            <a href="/egg.html">
              <i class="tim-icons icon-pin"></i>
              <p>달걀류</p>
            </a>
          </li>
          <li class="{% if 'seafood' in segment %} active {% endif %}">
            <a href="/seafood.html">
              <i class="tim-icons icon-pin"></i>
              <p>해산물</p>
            </a>
          </li>
          <li class="{% if 'chicken' in segment %} active {% endif %}">
            <a href="/chicken.html">
              <i class="tim-icons icon-pin"></i>
              <p>닭고기</p>
            </a>
          </li>
          <li class="{% if 'pork' in segment %} active {% endif %}">
            <a href="/pork.html">
              <i class="tim-icons icon-pin"></i>
              <p>돼지고기</p>
            </a>
          </li>
          <li class="{% if 'beaf' in segment %} active {% endif %}">
            <a href="/beaf.html">
              <i class="tim-icons icon-pin"></i>
              <p>소고기</p>
            </a>
          </li>
          {% comment %} <li class="{% if 'tables' in segment %} active {% endif %}">
            <a href="/ui-tables.html">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Table List</p>
            </a>
          </li>
          <li class="{% if 'typography' in segment %} active {% endif %}">
            <a href="/ui-typography.html">
              <i class="tim-icons icon-align-center"></i>
              <p>Typography</p>
            </a>
          </li>
          <li class="{% if 'rtl-support' in segment %} active {% endif %}">
            <a href="/page-rtl-support.html">
              <i class="tim-icons icon-world"></i>
              <p>RTL Support</p>
            </a>
          </li> {% endcomment %}
          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-button-power"></i>
              <p>Logout</p>
            </a>
          </li>
          {% else %}
          <li class="active">
            <a target="_blank" 
               href="">
              <i class="tim-icons icon-spaceship"></i>
              <p>비로그인 test</p>
            </a>
          </li>   
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
